<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DisplayStudentServlet</servlet-name>
        <servlet-class>servlet.DisplayStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>servlet.Detail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayStudentServlet</servlet-name>
        <url-pattern>/DisplayStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DisplayStudentServlet</welcome-file>
    </welcome-file-list>
</web-app>
